<div class="white" id="container">

<div id="header" class="top_logo">
  <div class="logoutlink">
    <a href="/logout"> Logout </a>
  </div>
</div>

<div id="status" class="offline">
  <p>You are offline. please wait..</p>
</div>

<div id="item" class="item" style="width:90%; padding-left:5%;">
   <p style="font-size:13px;">Item 1: Slankent</p>
   <img src="/img/slanket_sml.jpg" alt="slanket picture" style="border:1px solid black;"/>
</div> 


<div id='currentbid'>
  No bids
</div>

<div id='nextbid'>
<button class="bid myBidButton">Bid &pound; 1 Now </button>
</div>

</div>

<!-- <input type="hidden" id="image" value="<%= ((session.auth && session.user.image) ? session.user.image : '/img/default.png') %>">
<input type="hidden" id="service" value="
    <%= (session.auth && session.auth.twitter) ? '//twitter.com/favicon.ico' : '' %>
    <%= (session.auth && session.auth.facebook) ? '//facebook.com/favicon.ico' : '' %>
">
<div id="bubble">
    <ul></ul>
</div>
<div id="connected">
    <strong>Online</strong>
    <div class="overlay"></div>
</div>
<button class="bid fat-blue"> make bid </button>
<div class="logins">
    <ul class="padding">
      <% if(!session.auth) {%>
        <li class="twitter"><a href="/auth/twitter"><img src="//twitter.com/favicon.ico" alt="">Login using Twitter</a></li>
      <% } else { %>
        <li class="logout"><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
    </div> -->
