<div id="container">
    <div id="static">&nbsp;</div>

    <div id="active">
      <p>SIGN IN USING</p>
      <div id="oauth">
          <a href="/auth/twitter" class="oauthbuttons twitter" id="twitter_button"><img src="img/twsml_opt.png" alt="twitterimage for button" /></a>
          <a href=" " class="oauthbuttons" id="facebook_button"><img src="img/fbsml_opt.png" alt="facebookimage for button" /></a><a href=" " class="oauthbuttons" id="google_button"><img src="img/googsml_opt.png" alt="twitterimage for button" /></a>
     </div>

      <div id="ormiddle">OR</div>

     <div> <a id='create_account' href=" " class="myButton">CREATE ACCOUNT</a></div>

    </div>

    <div class="clear">&nbsp;</div>

</div>
